.confirmation-button_wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("./confirmationButton_background.jpg");
}

.confirmation-button {
    padding: 15px;
    min-width: 370px;
    border: none;
    border-radius: 6px;
    font-family: monospace;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

.confirmation-button:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.confirmation-button:active {
    background-color: #f8f8f8;
}

.confirmation-button:focus {
    background-color: #f8f8f8;
}
